<section class="vh-100 dt w-100 bg-white pa4">
  <div class="dtc v-mid tc pg-gold">
    <div data-aos="fade-up" class="illustration-wrapper" style="max-width: 150px; width: 100%; margin: 0 auto;">
      <img class="v-mid" src="{{ page.about-image }}">
    </div>
    <p class="ma0 mt4 mb4 f3 f3-m f2-l pg-gold matrix tc lh-copy measure-narrow measure-ns center">{{ page.about-1 }}</p>
    <p class="ma0 f3 f3-m f2-l pg-gold matrix tc lh-copy measure-narrow measure-ns center">{{ page.about-2 }}</p>
  </div>
</section>
