  <section id="contact" class="ph4 pv6 bg-pg-burgundy">
    <div class="mw8 center cf">
      <div class="follow fl w-100 w-100-m w-60-l mb4 pr6-ns">
        <h3 class="ma0 f3 pg-gold matrix mb4">{{page.follow-header}}</h3>
        <p class="ma0 f4 gray monsterrat mb4">{{page.follow-subheader}}</p>
        <ul class="social-media-icons pl0">
          <li class="social-media-icon list dib">
            <a class="gray f3 mr3" href="{{site.instagram-url}}" target="_blank">
              <i class="fa fa-instagram" aria-hidden="true"></i>
            </a>
          </li>
        </ul>
      </div>
      <div class="newsletter fl w-100 w-100-m w-40-l">
        <h3 class="ma0 f3 pg-gold matrix mb4">{{page.newsletter-header}}</h3>
        <p class="ma0 f4 gray mb3 monsterrat mb4">{{page.newsletter-subheader}}</p>
        {% include mailchimp/signup.html %}
      </div>
    </div>
  </section>
