  <section id="goods" class="bg-pg-aqua-haze ph4 pv6">
    <div class="mw8 center pa4">
      <h2 class="ma0 mt4 mb4 f3 f3-m f2-l pg-gold matrix tc lh-copy measure-narrow measure-ns center">
        {{ page.product-heading }} <span class="underline">designing</span>
      </h2>

      <div class="cf">
        <div class="fl w-100 ph4 pv3 pv6-ns">
          <div class="dt w-100 w-100-m w-50-l fl">
            <div class="db dtc-ns v-mid-ns w-100 w-50-ns" data-aos="fade-right" data-aos-delay="400">
              <img class="v-mid" src="{{ page.product-workshirt-image }}">
            </div>
            <div class="db dtc-ns v-mid ph2 pr0-ns pl3-ns w-100 w-50-ns monsterrat gray lh-copy f4 fw1 tc tl-ns mt4 mt0-ns">
              <hr class="mb4"> {{ page.product-workshirt-description }}
            </div>
          </div>
        </div>
      </div>

      <div class="cf">
        <div class="fl w-100 ph4 pv3 pv6-ns">
          <div class="dt w-100 w-100-m w-50-l cf fr">
            <div class="db dtc-ns v-mid-ns w-100 w-50-ns" data-aos="fade-left" data-aos-delay="800">
              <img class="v-mid" src="{{ page.product-poncho-image }}">
            </div>
            <div class="db dtc-ns v-mid ph2 pr0-ns pl3-ns w-100 w-50-ns monsterrat gray lh-copy f4 fw1 tc tl-ns mt4 mt0-ns">
              <hr class="mb4"> {{ page.product-poncho-description }}
            </div>
          </div>
        </div>
      </div>

      <div class="cf">
        <div class="fl w-100 ph4 pv3 pv6-ns">
          <div class="dt w-100 w-100-m w-50-l fl">
            <div class="db dtc-ns v-mid-ns w-100 w-50-ns" data-aos="fade-right" data-aos-delay="1200">
              <img class="v-mid" src="{{ page.product-saddlebag-image }}">
            </div>
            <div class="db dtc-ns v-mid ph2 pr0-ns pl3-ns w-100 w-50-ns monsterrat gray lh-copy f4 fw1 tc tl-ns mt4 mt0-ns">
              <hr class="mb4"> {{ page.product-saddlebag-description }}
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
