<header id="menu" class="hidden fixed top-0 left-0 right-0 bg-black z4" style="z-index:9999; border-bottom: solid 4px rgba(197,174,109,1.00);">
  <div class="ph3 pv1">
    <nav class="dt mw8 center w-100">
      <div class="dtc v-mid">
        <img class="w2 h2 v-mid" src="{{ site.logo-icon }}">
      </div>
      <div class="dtc v-mid">
        <ul class="header-links relative tc">
          <li class="dib mr3">
            <a class="link dim matrix pg-gold ma0" href="#about">
              about
            </a>
          </li>
          <li class="dib mr3">
            <a class="link dim matrix pg-gold ma0" href="#goods">
              goods
            </a>
          </li>
          <li class="dib mr3">
            <a class="link dim matrix pg-gold ma0" href="#contact">
              contact
            </a>
          </li>
        </ul>
      </div>
    </nav>
  </div>
</header>
