  <section class="slideshow ta-center">
    <!-- Flickity HTML init -->
    <div class="carousel" data-flickity='{ "groupCells": 1, "setGallerySize": false, "cellAlign": "left", "pageDots": false, "draggable": true, "wrapAround": true }'>
      <div class="carousel-cell">
        <img class="v-mid" src="/uploads/pg-pop-up.jpg" alt="">
      </div>
      <div class="carousel-cell">
        <img class="v-mid" src="/uploads/pg-team.jpg" alt="">
      </div>
      <div class="carousel-cell">
        <img class="v-mid" src="/uploads/pg-sign.jpg" alt="">
      </div>
    </div>
  </section>
