/* Pagoda Buttons */

.pg-btn-outline {
  padding: 1em 1.5em;
  text-align: center;
  background: none;
}

.pg-btn-outline--gold {
  border: solid 5px #c6af69;
  color: #c6af69;
  background-color: none;
  transition: background-color 100ms ease-in;
}

.pg-btn-outline--gold:hover {
  border: solid 5px #c6af69;
  color: #2d1b19;
  background-color: #c6af69;
}

.pg-btn-outline--white {
  border: solid 5px #fff;
  color: #fff;
  background-color: none;
  transition: background-color 100ms ease-in;
}

.pg-btn-outline--white:hover {
  border: solid 5px #fff;
  background-color: #fff;
  color: #c6af69;
}
