/* Pagoda Buttons */

.pg-btn-outline {
  padding: 1em 1.5em;
  text-align: center;
  background: none;
}

.pg-btn-outline--gold {
  border: solid 5px $pg-gold;
  color: $pg-gold;
  background-color: none;
  transition: background-color 100ms ease-in;
}

.pg-btn-outline--gold:hover {
  border: solid 5px $pg-gold;
  color: $pg-burgundy;
  background-color: $pg-gold;
}

.pg-btn-outline--white {
  border: solid 5px $white;
  color: $white;
  background-color: none;
  transition: background-color 100ms ease-in;
}

.pg-btn-outline--white:hover {
  border: solid 5px $white;
  background-color: $white;
  color: $pg-gold;
}
