/* Pagoda Colors */

/* base colors */
.pg-gold {
  color: $pg-gold;
}

.pg-burgundy {
  color: $pg-burgundy;
}

.pg-aqua-haze {
  color: $pg-aqua-haze;
}

.pg-aluminum {
  color: $pg-aluminum;
}

.black {
  color: $black;
}

.white {
  color: $white;
}

/* background colors */
.bg-pg-gold {
  background-color: $pg-gold;
}

.bg-pg-burgundy {
  background-color: $pg-burgundy;
}

.bg-pg-aqua-haze {
  background-color: $pg-aqua-haze;
}

.bg-pg-aluminum {
  background-color: $pg-aluminum;
}

.bg-black {
  background-color: $black;
}

.bg-white {
  background-color: $white;
}
