/* Pagoda Colors */

/* colors */
.pg-gold { color: rgba(197, 174, 109, 1); }
.pg-burgundy { color: rgba(45, 27, 25, 1); }
.pg-aqua-haze { color: rgba(236, 244, 246, 1); }
.pg-aluminum { color: rgba(155, 155, 155, 1); }

.black { color: rgba(0, 0, 0, 1); }
.white { color: rgba(255, 255, 255, 1); }

/* background colors */
.bg-pg-gold { background-color: rgba(197, 174, 109, 1); }
.bg-pg-burgundy { background-color: rgba(45, 27, 25, 1); }
.bg-pg-aqua-haze { background-color: rgba(236, 244, 246, 1); }
.bg-pg-aluminum { background-color: rgba(155, 155, 155, 1); }

.bg-black { background-color: rgba(0, 0, 0, 1); }
.bg-white { background-color: rgba(255, 255, 255, 1); }
