input.pg-email-signup {
  padding: 1em 1.5em;
  background-color: #ffffff;
}

input.pg-email-signup--gold {
  border: solid 5px #c6af69;
}

button.loading {
  display: none !important;;
  visibility: hidden !important;;
}
