/* base colors */
$pg-gold: rgba(197, 174, 109, 1);
$pg-burgundy: rgba(45, 27, 25, 1);
$pg-aqua-haze: rgba(236, 244, 246, 1);
$pg-aluminum: rgba(155, 155, 155, 1);
$black: rgba(0, 0, 0, 1);
$white: rgba(255, 255, 255, 1);

/* typography */

$matrix: "matrix-ii", georgia, serif;
$proxima: "proxima-nova", helvetica, sans-serif;
$monsterrat: 'Montserrat', sans-serif;
